/*section general*/
:root {
  --main-color: #212121;
  --text-blue-color: #2196F3;
  --text-black-color: #000000;
  --text-head-color: #757575;
  --background-white-color: #FFFFFF;
  --background-hero: #2F303A;
  --background-advantages: #F5F5F5;
  --background-our-team: #F5F4FA;
  --foter-color: rgba(255, 255, 255, 0.6);
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.14);
  --box-shadow-three: rgba(0, 0, 0, 0.2);
  --box-shadow-four: rgba(0, 0, 0, 0.06);
  --box-shadow-five: rgba(0, 0, 0, 0.16);
  --item-portfolio-color: #EEEEEE;
  --border-color: #ECECEC;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --company-border: #AFB1B8;
  --color-iconeone: #44454E;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --activity-background-color: rgba(47, 48, 58, 0.8);
  --overlay-portfolio-color: rgba(33, 150, 243, 0.9);
  --border-close-color: rgba(0, 0, 0, 0.1);
  --border-input-color: rgba(33, 33, 33, 0.2);
  --button-form-color: rgba(0, 0, 0, 0.15);
  --color-textarea: rgba(117, 117, 117, 0.5);
  --button-color: #188CE8;
  --border-footer-color: rgba(255, 255, 255, 0.3);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-color);
  font-family: var(--font-roboto);
}

.list-item {
  list-style: none;
}

.button {
  cursor: pointer;
  border: none;
}

.paragraph {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
}

.hidden-title {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*section header*/
.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-white-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.ref-style {
  text-decoration: none;
}

.logo-style {
  margin-right: 95px;
}

.span-web {
  color: var(--text-blue-color);
}

.span-style {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}

.span-studio {
  color: var(--text-black-color);
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-address {
  margin-left: auto;
  display: flex;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-right: 49px;
}

.convert-icon {
  width: 16px;
  height: 12px;
  display: block;
  margin-right: 10px;

  fill: currentColor;
}

.telephone-icone {
  width: 10px;
  height: 16px;
  display: block;
  margin-right: 10px;

  fill: currentColor;
}

.ref-convert {
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;

  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--text-head-color);
  fill: var(--text-head-color);
  text-decoration: none;
}


.ref-convert :hover,
.ref-convert :focus {
  color: var(--text-blue-color);
  fill: var(--text-blue-color);
}

.ref-mail {
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

  fill: var(--text-head-color);
  color: var(--text-head-color);
}

.ref-mail:hover,
.ref-mail:focus {
  fill: var(--text-blue-color);
  color: var(--text-blue-color);
}

.span-adress {
  display: block;
}

.header-contact:last-child {
  margin-right: 0
}

.ref-header {
  transition: color 250ms var(--timing-function);

  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.main-page {
  position: relative;
}

.main-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--text-blue-color);
}

.ref-header:hover,
.ref-header:focus {
  color: var(--text-blue-color);
}

.head-phone {
  color: var(--text-head-color);
}

/*section hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-hero);
  text-align: center;
}

.overlay {
  min-height: 480px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
    url('../images/herobackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.button-hero {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--background-white-color);
  background-color: var(--text-blue-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);

  width: 100%;
  height: 100%;

  background-color: var(--box-shadow-three);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--background-white-color);
  box-shadow: 0px 1px 3px var(--box-shadow-one), 0px 1px 1px var(--box-shadow-two), 0px 2px 1px var(--box-shadow-three);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;
  background-color: var(--background-white-color);
  border: 1px solid var(--border-close-color);
  cursor: pointer;
}

.button-icon {
  width: 18px;
  height: 18px;

  fill: var(--text-black-color);
}

.button-close .button-icon {
  transition: fill 250ms var(--timing-function);
}


.button-close:hover .button-icon,
.button-close:focus .button-icon {
  fill: var(--text-blue-color);
}


.title-form {
  margin-top: 40px;
  margin-bottom: 12px;
  margin-right: 40px;
  margin-left: 40px;

  font-family: var(--font-roboto);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;

  font-family: var(--font-roboto);
  font-size: 12px;
  line-height: 1.166667;
  letter-spacing: 0.01em;
  color: var(--text-head-color);

}

.group-icon {
  position: relative;
}

.group-icon .icon-input {
  transition: fill 250ms var(--timing-function);
}

.group-icon .form-input {
  transition: border-color 250ms var(--timing-function);
}

.group-icon:focus-within .icon-input,
.group-icon:hover .icon-input {
  fill: var(--text-blue-color);
}

.group-icon:focus-within .form-input,
.group-icon:hover .form-input {
  border-color: var(--text-blue-color);
}

.form-textarea .form-comment {
  transition: border-color 250ms var(--timing-function);
}

.form-textarea:focus-within .form-comment,
.form-textarea:hover .form-comment {
  border-color: var(--text-blue-color);
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: none;

  cursor: pointer;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
}

.icon-input {
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  fill: var(--main-color);
}

.group-field {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.button-form {
  transition: background-color 250ms var(--timing-function);

  outline: none;
  display: flex;
  align-items: center;
  padding: 10px 52px;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;

  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-white-color);
  background: var(--text-blue-color);
  box-shadow: 0px 4px 4px var(--button-form-color);
  border-radius: 4px;
}

.button-form:hover,
.button-form:focus {
  background-color: var(--button-color);
}

.form-comment {
  outline: none;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  font-family: var(--font-roboto);
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
}

.conditions-form {
  display: flex;
  align-items: center;
  margin-left: 52px;
  margin-right: 51px;
  margin-bottom: 30px;
}

.form-chekbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;

  cursor: pointer;
  border: 2px solid var(--main-color);
  border-radius: 4px;
}

.form-chekbox:checked+.icon-checkbox {
  border-color: transparent;
  background-color: var(--text-blue-color);
  background-image: url('../images/formchek.svg');
  background-size: contain;
  background-origin: border-box;
}


.check-form {
  display: flex;
  align-items: center;
  margin-right: 2px;

  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
}

.ref-form {
  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-blue-color);
}

/*section advantages*/
.advantages {
  background-color: var(--background-white-color);
}

.advantages-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.container-advantages {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background: var(--background-our-team);
  border-radius: 4px;
}

.icon-advantages {
  width: 70px;
  height: 70px;
}

/*section activity*/
.activity {
  padding-top: 0;

  background-color: var(--background-white-color);
}

.activity-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16667;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.activity-block {
  position: relative;
}

.activity-background {
  position: absolute;
  bottom: 3px;
  right: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;

  background-color: var(--activity-background-color);
  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.14286px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

/*section our team*/
.ourteam {
  background-color: var(--background-our-team);
}

.ourteam-group {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.list-ourteam {
  width: 270px;

  background: var(--background-white-color);
  box-shadow: 0px 1px 3px var(--box-shadow-one), 0px 1px 1px var(--box-shadow-two), 0px 2px 1px var(--box-shadow-three);
  border-radius: 0px 0px 4px 4px;
}

.card-team {
  padding: 30px 10px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.paragraph-team {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
}

.icon-team {
  height: 20px;
  width: 20px;
}

.ref-team {
  text-decoration: none;
}

.nets-team {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.block-team {
  transition: background-color 250ms var(--timing-function), border-radius 250ms var(--timing-function);

  display: block;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
}

.icon-twitter {
  transition: fill 250ms var(--timing-function);

  fill: var(--company-border);
}

.icon-twitter:hover,
.icon-twitter:focus {
  fill: var(--background-white-color)
}

.block-team:hover,
.block-team:focus {
  background-color: var(--text-blue-color);
  border-radius: 50%;
}

.icom-teaminsta {
  transition: fill 250ms var(--timing-function);

  fill: var(--company-border);
}

.icom-teaminsta:hover,
.icom-teaminsta:focus {
  fill: var(--background-white-color);
}


/*section regular customers*/
.regularcustomers {
  background-color: var(--background-white-color);
}

.company-iconeone {
  width: 41px;
  height: 46.7px;
}

.company-iconetwo {
  width: 40px;
  height: 52px;
}

.company-iconethree {
  width: 43.46px;
  height: 41.18px;
}

.company-iconefour {
  width: 84.44px;
  height: 40.62px;
}

.company-iconefive {
  width: 62.54px;
  height: 45.43px;
}

.company-iconesix {
  width: 93.79px;
  height: 43.93px;
}

.company-ref {
  transition: border 250ms var(--timing-function), border-radius 250ms var(--timing-function);

  display: block;
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  border: 1px solid var(--company-border);
  border-radius: 4px;
}

.company-ref:hover {
  border: 1px solid var(--text-blue-color);
  border-radius: 4px;
}

.company-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-company {
  transition: fill 250ms var(--timing-function);

  fill: var(--company-border);
}


.icon-company:hover,
.icon-company:focus {
  fill: var(--text-blue-color);
}


.block-company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/*section footer*/
.footer {
  background-color: var(--background-hero);
}

.footer-logo {
  padding-top: 60px;
}

.span-studio-footer {
  color: var(--background-white-color);
}

.ref-footer {
  transition: color 250ms var(--timing-function);

  color: var(--foter-color);
  text-decoration: none;
}

.ref-footer:hover,
.ref-footer:focus {
  color: var(--background-white-color);
}

.ref-footer-begin {
  color: var(--background-white-color);
}

.footer-address {
  margin-top: 20px;
  padding-bottom: 60px;

  font-style: normal;
}

.footer-head {
  margin-bottom: 20px;

  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.1428px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.footer-main {
  display: flex;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}

.section-footer {
  margin-right: 93px;
}

.nets-footer {
  display: flex;
  gap: 10px;
}

.footer-title {
  margin-bottom: 20px;

  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.footer-mailing {
  outline: none;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid var(--border-footer-color);
  filter: drop-shadow(0px 4px 4px var(--button-form-color));
  border-radius: 4px;
  background-color: var(--background-hero);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--foter-color);
}

.button-mailing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  width: 200px;

  background-color: var(--text-blue-color);
  box-shadow: 0px 4px 4px var(--button-form-color);
  border-radius: 4px;
}

.span-footer {
  margin-right: 10px;
  display: block;

  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-white-color);
}

.icon-footer {
  width: 24px;
  height: 24px;
}

.group-mailing {
  display: flex;
  align-items: center;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.block-instagram {
  background-color: var(--color-iconeone);
  border-radius: 50%;
}

/*section hero-portfolio*/
.hero-portfolio {
  background-color: var(--background-white-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.button-portfolio {
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  padding: 6px 22px;

  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--background-our-team);
}

.button-all {
  padding: 6px 25px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--background-white-color);
  background-color: var(--text-blue-color);
  box-shadow: 0px 6px 0px var(--background-our-team);
}

/*section category-elements*/
.category-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}


.list-portfolio {
  transition: box-shadow 250ms var(--timing-function);

  width: 370px;

  background: var(--background-white-color);
  border: 1px solid var(--item-portfolio-color);
}

.list-portfolio:hover {
  box-shadow: 0px 1px 1px var(--box-shadow-one), 0px 4px 4px var(--box-shadow-four), 1px 4px 6px var(--box-shadow-five);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 300px;

  font-family: var(--font-roboto);
  font-size: 18px;
  line-height: 1.55555555;
  letter-spacing: 0.03em;
  color: var(--background-white-color);
  background-color: var(--overlay-portfolio-color);
}

.list-portfolio:hover .portfolio-overlay::after {
  transform: translateY(0);
}

.group-category {
  margin: 20px 24px;

  border: 1px solid transparent;
}

.element {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.paragraph-element {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
}