@import '../utils/variables';

.set-three {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.advantages {
    background-color: $background-white-color;

    &--indent {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title { 
      @extend .set-three; 
    }

    &-list {
      display: flex;
      gap: 30px;
    }
}