@import '../utils/variables';

@mixin geometry($width,$height) {
  width: $width;
  height: $height;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

  @include geometry(100%, 100%);
  background-color: $box-shadow-three;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &--is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  min-width: 528px;
  min-height: 581px;

  background-color: $background-white-color;
  box-shadow: 0px 1px 3px $box-shadow-one, 0px 1px 1px $box-shadow-two, 0px 2px 1px $box-shadow-three;
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  @include geometry(30px, 30px);
  
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;
  background-color: $background-white-color;
  border: 1px solid $border-close-color;
  cursor: pointer;

  & .modal-button__icon {
    transition: fill 250ms $timing-function;
  }

  &:hover .modal-button__icon,
  &:focus .modal-button__icon{
    fill: $text-blue-color;
  }


  &__icon {

    @include geometry(18px, 18px);

    fill: $text-black-color;
  }
}

.modal-form {

  &__title {
    margin-top: 40px;
    margin-bottom: 12px;
    margin-right: 40px;
    margin-left: 40px;

    font-family: $font-roboto;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.modal-group {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.166667;
    letter-spacing: 0.01em;
    color: $text-head-color;
  }

  &__element {
    position: relative;
  }

  &__input {
    @include geometry(448px, 40px);
    padding-left: 42px;
    outline: none;
  
    cursor: pointer;
    border: 1px solid $border-input-color;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 12px;
  
    display: inline-block;

    @include geometry(18px, 18px);
    fill: $main-color;
  }
}

 .modal-field__element {

  & .modal-field__icon {
    transition: fill 250ms $timing-function;
  }

  &:focus-within .modal-field__icon,
  &:hover .modal-field__icon {
    fill: $text-blue-color;
  } 

  & .modal-field__input {
    transition: border-color 250ms $timing-function;
  }
  
  &:focus-within .modal-field__input,
  &:hover .modal-field__input {
    border-color: $text-blue-color;
  } 
}
  
.modal-textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.166667;
    letter-spacing: 0.01em;
    color: $text-head-color;
  }

  &__comment {
    outline: none;
    resize: none;
    @include geometry(448px, 120px);
    padding: 12px 16px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: $color-textarea;
    border: 1px solid $border-input-color;
    border-radius: 4px;
  }

  & .modal-textarea__comment {
    transition: border-color 250ms $timing-function;
  }

  &:focus-within .modal-textarea__comment,
  &:hover .modal-textarea__comment {
    border-color: $text-blue-color;
  }

  

 }

  .modal-condition {
  display: flex;
  align-items: center;
  margin-left: 52px;
  margin-right: 51px;
  margin-bottom: 30px;

  &__label {
    display: flex;
    align-items: center;
    margin-right: 2px;

    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $text-head-color;
  }

  &__input {
    position: absolute;

    @include geometry(1px, 1px);
    margin: -1px;

    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }

  &__input:checked+.modal-condition__icon {
    border-color: transparent;
    background-color: $text-blue-color;
    background-image: url('../images/formchek.svg');
    background-size: contain;
    background-origin: border-box;
  }

  &__icon {
    display: inline-block;

    @include geometry(16px, 15px);
    margin-right: 8.38px;

    cursor: pointer;
    border: 2px solid $main-color;
    border-radius: 4px;
  }

  &__ref {
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $text-blue-color;
  }

 }