@import '../utils/variables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

  width: 100%;
  height: 100%;

  background-color: $box-shadow-three;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  min-width: 528px;
  min-height: 581px;

  background-color: $background-white-color;
  box-shadow: 0px 1px 3px $box-shadow-one, 0px 1px 1px $box-shadow-two, 0px 2px 1px $box-shadow-three;
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;
  background-color: $background-white-color;
  border: 1px solid $border-close-color;
  cursor: pointer;

  &__icon {
    width: 18px;
    height: 18px;

    fill: $text-black-color;
  }
}

.modal-form {

  &__title {
    margin-top: 40px;
    margin-bottom: 12px;
    margin-right: 40px;
    margin-left: 40px;

    font-family: $font-roboto;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.modal-group {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.166667;
    letter-spacing: 0.01em;
    color: $text-head-color;
  }

  &__element {
    position: relative;
  }

  &__input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    outline: none;
  
    cursor: pointer;
    border: 1px solid $border-input-color;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 12px;
  
    display: inline-block;
    width: 18px;
    height: 18px;
  
    fill: $main-color;
  }
}

.modal-textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-block;
    margin-bottom: 4px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.166667;
    letter-spacing: 0.01em;
    color: $text-head-color;
  }

  &__comment {
    outline: none;
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;

    font-family: $font-roboto;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: $color-textarea;
    border: 1px solid $border-input-color;
    border-radius: 4px;
  }
 }

 .modal-condition {
  display: flex;
  align-items: center;
  margin-left: 52px;
  margin-right: 51px;
  margin-bottom: 30px;

  &__label {
    display: flex;
    align-items: center;
    margin-right: 2px;

    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $text-head-color;
  }

  &__input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8.38px;

    cursor: pointer;
    border: 2px solid $main-color;
    border-radius: 4px;
  }

  &__ref {
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $text-blue-color;
  }

 }