@import '../utils/variables';

.portfolio {
  background-color: $background-white-color;

  &--indent {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
  
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  
  }
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    list-style: none;
  }

  &__item--indent {
    margin-right: 8px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  &__item {
    list-style: none;
  }

  &__item--active {
    transition: box-shadow 250ms $timing-function;

    width: 370px;

    background: $background-white-color;
    border: 1px solid $item-portfolio-color;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__card {
    margin: 20px 24px;

    border: 1px solid transparent;
  }

  &__product {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $text-head-color;
  }
}